<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theatron Admin</title>
    <link rel="stylesheet" href="/src/output.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="bg-black text-white">
      <h1 class="p-6 text-2xl">Theatron Dashboard</h1>
    </header>
    <main class="xl:flex">
      <nav class="w-full bg-slate-800 p-6 text-white xl:min-h-screen xl:w-64">
        <ul>
          <li class="md:text-md mb-5 text-sm lg:text-lg xl:text-lg">
            <a href="manageuser.html">Manage User</a>
          </li>
          <li class="md:text-md mb-5 text-sm lg:text-lg xl:text-lg">
            <a href="managemovie.html">Manage Movie</a>
          </li>
        </ul>
      </nav>
      <section class="p-6">
        <h2 class="mb-4 text-2xl font-bold">Manage Users</h2>
        <button class="mb-4 rounded-lg bg-yellow-300 p-3 hover:bg-yellow-400">
          Create New User
        </button>
        <table class="w-screen max-w-screen-xl table-auto border-collapse">
          <thead>
            <tr>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">User ID</th>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">
                User Name
              </th>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">Phone</th>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">Email</th>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">
                Created On
              </th>
              <th class="bg-gray-200 px-4 py-2 text-center text-sm">Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2 text-center text-sm">001</td>
              <td class="border px-4 py-2 text-center text-sm">
                Josvian Salim
              </td>
              <td class="border px-4 py-2 text-center text-sm">08213456789</td>
              <td class="border px-4 py-2 text-center text-sm">
                josvian@yahoo.com
              </td>
              <td class="border px-4 py-2 text-center text-sm">
                2024-03-22 22:00:00
              </td>
              <td class="border px-4 py-2 text-center align-middle text-sm">
                <button
                  class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-600"
                >
                  Manage
                </button>
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2 text-center text-sm">001</td>
              <td class="border px-4 py-2 text-center text-sm">
                Josvian Salim
              </td>
              <td class="border px-4 py-2 text-center text-sm">08213456789</td>
              <td class="border px-4 py-2 text-center text-sm">
                josvian@yahoo.com
              </td>
              <td class="border px-4 py-2 text-center text-sm">
                2024-03-22 22:00:00
              </td>
              <td class="border px-4 py-2 text-center align-middle text-sm">
                <button
                  class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-600"
                >
                  Manage
                </button>
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2 text-center text-sm">001</td>
              <td class="border px-4 py-2 text-center text-sm">
                Josvian Salim
              </td>
              <td class="border px-4 py-2 text-center text-sm">08213456789</td>
              <td class="border px-4 py-2 text-center text-sm">
                josvian@yahoo.com
              </td>
              <td class="border px-4 py-2 text-center text-sm">
                2024-03-22 22:00:00
              </td>
              <td class="border px-4 py-2 text-center align-middle text-sm">
                <button
                  class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-600"
                >
                  Manage
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
