@media screen and (max-width: 1120px) {
    header {
        padding: 0.75rem 1.5rem;
    }

    /* logo */
    .logo-header {
        font-size: 1.75rem;
    }

    /* Input search */
    .input-search {
        width: 328.5px;
        line-height: 2rem;
        font-size: 1rem;
        padding: 0 0.75rem;
    }

    /* Navigation */
    nav{
        gap: 3rem;
    }

    nav a {
        font-size: .8rem;
    }

    .signin-btn {
        padding: .8rem 1.6rem;
    }
}

@media screen and (max-width: 840px) {
    /* Input search */
    .input-search {
        width: 273.75px;
    }

    /* Navigation */
    nav{
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem 1rem;
        position: sticky;
        top: -1px;
        background-color: black;
    }

    /* burger */
    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 7.8px);
    }

    .toggle-burger .line-2 {
        opacity: 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -7.8px);
    }

    /* navigation */
    nav {
        background-color: #000536;
        border-radius: 10px 0 0 10px;
        position: fixed;
        margin-top: 0.5rem;
        width: 40%;
        padding-top: 10%;
        top: 0;
        right: 0;
        height: 50vh;
        flex-direction: column;
        z-index: 9;
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    .nav-active {
        transform: translateX(0);
    }
    
}

@media screen and (max-width: 520px) {
    /* Logo */
    .logo-header {
        font-size: 1.5rem;
    }

    /* Input search */
    .input-search {
        width: 219px;
        line-height: 1.5rem;
        font-size: 0.75rem;
        padding: 0 0.5rem;
    }

    /* Navigation */
    nav a {
        font-size: 0.75rem;
    }

    .signin-btn {
        padding: 0.75rem 1.5rem;
    }
}

@media screen and (max-width: 430px) {
    /* Logo */
    .logo-header {
        font-size: 1rem;
    }

    /* Input search */
    .input-search {
        width: 164.25px;
        line-height: 1.25rem;
    }

    .signin-btn {
        padding: 0.5rem 1.25rem;
    }
}

