/* Font-family */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:slnt,wght@-10..0,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    /* background: blue; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

/* Logo */
.logo-header {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Newsreader', serif;
}

.logo-header a {
    color: #fff;
}

/* Input search */
.input-search {
    width: 438px;
    line-height: 2.25rem;
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #cacaca;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
}

.signin-btn {
    padding: 0.75rem 1.5rem;
    background-color: #5B50E1;
    border-radius: 10px;
}

/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 7px;
    transition: all .3s;
}

.burger {
    display: none;
    z-index: 9;
    position: relative;
}