@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: black;
}


.custom-grid-auto-columns {
  grid-auto-columns: calc(25% - 3 / 4 * 0.5rem - 0.5rem);
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
  width: 0;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
 
}

@media screen and (min-width: 480px){
  .custom-grid-auto-columns {
      grid-auto-columns: calc(25% - 3/4*.75rem - .75rem);
    }
}

@media screen and (min-width: 600px) {
  .custom-grid-auto-columns {
    grid-auto-columns: calc(12.5% - 7 / 8* .75rem - .375rem);
  }
}

@media screen and (min-width: 1024px) {
  .custom-grid-auto-columns {
    grid-auto-columns: calc(8.3333333333% - 11 / 12* 1rem - 0rem);
  }
}

@media screen and (min-width: 1280px) {
  .custom-grid-auto-columns {
    grid-auto-columns: calc(8.3333333333% - 11 / 12* 1.5rem - 0rem);
  }
}

